# Composer Related
composer.lock
/vendor

# Frontend Assets
/node_modules

# Logs
npm-debug.log
yarn-error.log

# Caches
.phpunit.cache
.phpunit.result.cache
/build
.php-cs-fixer.cache

# IDE Helper Files
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php

# Editor Configurations
/.idea
/.fleet
/.vscode

# Miscellaneous
phpunit.xml
phpstan.neon
testbench.yaml
/docs
/coverage

# OS Files
.DS_Store
